html {
    position: relative;
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

body {
    min-width: 320px;
    min-height: 100vh;
    font-family: $main-font-family;
    font-size: $main-font-size;
    font-style: normal;
    letter-spacing: normal;
    background: radial-gradient(35.13% 50% at 50% 50%, #252E42 0%, #161C2E 100%);
    color: $main-content-color;
    scrollbar-color: $accent-color transparent; /* «цвет ползунка» «цвет полосы скроллбара» */
    scrollbar-width:  thin;
    background-size: 500% 500%;
    animation: gradient 10s ease infinite;
}

img {
    max-width: 100%;
    height: auto;
}

button,
input {
    font: inherit;
}

button {
    cursor: pointer;
}

a {
    text-decoration: none;
    color: inherit;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

h1,
h2,
h3,
p,
figure,
fieldset {
    margin: 0;
}

iframe {
    border: none;
}


.container {
    max-width: calc(397px + 2 * 15px);
    padding: 0 15px; 
    margin: 0 auto;
}

.main {
    padding-top: 100px;
    margin-bottom: 30px;
}


/* полоса прокрутки (скроллбар) */
::-webkit-scrollbar {
    width: 4px; 
    background-color: transparent;
}

/* ползунок скроллбара */
::-webkit-scrollbar-thumb {
    background-color: $accent-color;
    border-radius: 10px;
    transition: background-color .3s ease-in-out;

    &:hover {
        background-color: $accent-hover-color;
    }
}

@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}